{% extends 'base.html'%}
{% block content %}
{% for article in articles %}
<h1>NEWS</h1>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-">
    
        <p class="text-center">
            <a href="{{article.url}}">
                <img src="{{ article.urlToImage }}" class="img-responsive"></a></p>
        <p class="text-center">{{ article.description|truncate(250)}}</p>
        <p class="text-center">published on {{ article.publishedAt|truncate(20)}}</p>
        <a href="{{article.url}}" target="blank_" class="btn btn-info" role="button">website</a>
</div>
{% endfor %}
{% endblock %}
